h1{
background-color: aqua;
border-radius: 12px;
text-align:top;
padding: 100px;
margin: top 20px;
border:none;
text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


border: 2px solid rgb(0, 0, 0);
padding: 20px;
box-shadow: 1px 3px 9px 1px; color: blue;
}
ul{

list-style-type:none;
 margin: top 20px;
padding-top: 0%;
text-align: center;
text-align: left;
display: inline-flex;
;letter-spacing: ;


}
 body{
 background-color:#db9833	 ;








 }

 input{
padding: 10px;
margin: 10px;
border: 2px solid black;
box-shadow: 0px 0px 19px 2px;



 }


 button{

color:green;

border:1px solid green ;
padding: 10px;
margin: 13px;
box-shadow: 0px 0px 9px;
 }
 button:hover{
color: white;
background-color: green;
color: white;
cursor: auto;
transition:0.5s;
 border-radius: 10px;
border: white;
text-decoration: none;
}